*{
  margin: 0;
  padding: 0;
}

body{
    height: 100%;
    width: 100%;
    background: #191337;
    box-sizing: border-box;
}

/* ! S C R O L L */
@import './Main/scroll';

/* HEXAGON EFECTS */
@import './Main/animations';

.main-grid{
    position: relative;
    display: grid;

/* SCROLL RULES */
.pimg1, .pimg2{
    background-position: center;
    background-size: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* PARALLAX 1 TOP */
.pimg1{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('./Images/04.jpg');

    /* L O G O */
    .ptext{
        z-index: 200;
        position: absolute;
        display: flex;
        top: 0;

        svg{
            stroke-width: 5;
            stroke-dasharray: 590;
            stroke-dashoffset: 590;
            animation: lganimate 4s ease forwards;
        }
    }
}

/*  NAVBAR  NAV*/
@import './Main/nav';

/*  CONTAINER MID */
@import './Main/container';

/* PARALLAX 2 JUN */
.pimg2{
    grid-area: jun;
    height: 100%;
    width: 100%;
    background-image: url('./Images/08.jpg');

    font-family: Khand;
    color: antiquewhite;
    letter-spacing: 5px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;

    z-index: 10;
    border-left: 35px solid rgb(233, 87, 213);
    box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.603),
                0 20px 30px #111133a4;

    span{
        border: 3px solid antiquewhite;
        padding: 10px 20px;
        }

}

/* CONTAINER2 BOT */
@import './Main/container2';
